.sa-flex {
    display: flex;
}

.sa-icon {
    position: absolute;
    left: calc(100% - 44px);
    width: 22px;
    margin-top: 5px;
}

.sa-icon:hover {
    cursor: pointer;
    animation: entrance 0.4s ease-out;
}

@keyframes entrance {
    0% {
        opacity: 40%;
    }
    100% {
        opacity: 100%;
    }
}
